:root {
    --background: #000000;
    --home-bg: url("/src/assets/images/alora_dark.png");
    --primary: #0a0a0a;
    --primary-dark: #050505;
    --secondary: #1a1a1a;
    --accent: #6366f1;
    --accent-light: #8b5cf6;
    --accent-glow: rgba(99, 102, 241, 0.2);
    --border: rgba(255, 255, 255, 0.1);
    --text: #ffffff;
    --text-muted: #a1a1aa;
    --hover-danger: #ef4444;
    --active-tab: linear-gradient(145deg, #1a1a1a, var(--secondary));
    --glass: rgba(10, 10, 10, 0.8);
    --glass-border: rgba(255, 255, 255, 0.05);
    --success: #10b981;
}

:root.dark {
    --background: #000000;
    --home-bg: url("/src/assets/images/alora_dark.png");
    --primary: #0a0a0a;
    --primary-dark: #050505;
    --secondary: #1a1a1a;
    --accent: #6366f1;
    --accent-light: #8b5cf6;
    --accent-glow: rgba(99, 102, 241, 0.2);
    --border: rgba(255, 255, 255, 0.1);
    --text: #ffffff;
    --text-muted: #a1a1aa;
    --hover-danger: #ef4444;
    --active-tab: linear-gradient(145deg, #1a1a1a, var(--secondary));
    --glass: rgba(10, 10, 10, 0.8);
    --glass-border: rgba(255, 255, 255, 0.05);
    --success: #10b981;
}

:root.spaceBlue {
  --background: rgba(2, 7, 27, 0.259);
  --home-bg: url("/src/assets/images/alora_spaceBlue.png"); 
  --primary: #0a0f20;
  --primary-dark: #040815;
  --secondary: #121c30;
  --accent: #1d4ed8;
  --accent-light: #3b82f6;
  --accent-glow: rgba(29, 78, 216, 0.12);
  --border: rgba(255, 255, 255, 0.05);
  --text: #dbeafe;
  --text-muted: #64748b;
  --hover-danger: #dc2626;
  --active-tab: linear-gradient(145deg, #121c30, #0a0f20);
  --glass: rgba(10, 15, 32, 0.7);
  --glass-border: rgba(255, 255, 255, 0.02);
  --success: #7c92f1;
}


:root.operaGX {
  --background: linear-gradient(145deg, #0d0606, #040000);
  --home-bg: url("/src/assets/images/alora_opera.png"); 
  --primary: #090505;
  --primary-dark: #0a0b10;
  --secondary: #000000;
  --accent: #ff0050;
  --accent-light: #ff4f87;
  --accent-glow: rgba(255, 0, 80, 0.15);
  --border: rgba(255, 0, 80, 0.25);
  --text: #f0f0f5;
  --text-muted: #a0a0b2;
  --hover-danger: #ff4f87;
  --active-tab: linear-gradient(145deg, #ff0050, #1a1b22);
  --glass: rgba(10, 10, 10, 0.8);
  --glass-border: rgba(255, 0, 80, 0.05);
  --success: #ff4f87; 
}

:root.royalNight {
  --background: rgba(0,0,0,0.25);
  --home-bg: url("/src/assets/images/alora_royalNight.jpeg"); 
  --primary: #1a1029;
  --primary-dark: #12091e;
  --secondary: #2a1c3c;
  --accent: #a855f7;
  --accent-light: #c084fc;
  --accent-glow: rgba(168, 85, 247, 0.2);
  --border: rgba(255, 255, 255, 0.08);
  --text: #f4f0ff;
  --text-muted: #b39ddb;
  --hover-danger: #e11d48;
  --active-tab: linear-gradient(145deg, #2a1c3c, #1a1029);
  --glass: rgba(26, 16, 41, 0.75);
  --glass-border: rgba(255, 255, 255, 0.04);
  --success: #b983ff;
}
